/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

header {
	background-color: mediumpurple;
	padding: 2rem 0;
	color: white;
}

header h1 {
	color: white;
	font-size: 3.5rem; display: inline-block;
	margin: 0 2rem 0}

html {
	font-family: sans-serif;}

section {
	padding: 5rem 0;}

section:nth-child(2) {
	background-color: lightgray; color: #555;
	line-height: 1.5rem}

footer{
	background: black;
	color: lightgray;
	padding: 1rem 0;}


.instructions {
	color: darkorange;
border: 3px solid;
padding: 2rem}

.instructions img {
	width: 250px; height: auto;
	border: 3px solid lightgrey}

.pull-left {
	float: left;}

.pull-right {
	float: right}

h2 {
	margin-top: 0;
	font-size: 2rem}

ol {
	line-height: 1.5rem;
	font-weight: bold;}

img[alt="captain picard"] {
	width: 300px;
	height:auto;
	border: 3px solid white;
	margin-right: 3rem;}

section:nth-child(2) span {
	color: black;
	font-style: italic;
	font-weight: bold;
	font-family: serif;}

section:last-child h2 {
	color: darkorange;
text-align: right;}

table {
	color:white;
	width: 100%;
	text-align: left;
}

th, td {background-color: darkorange;
padding: 1rem;}











